<div class="
     fl w-third-ns w-100
    ">
  <div
    onclick={{action goToPlayer player.id}}
    class="
      card
      ba
      bw2
      pa2
      ma4"
   style="background-image:url({{player.image}}); background-size: cover;"
  >
  <p class="white f1 tc">{{player.name}}</p>
  </div>
</div>
