<div class="
     fl w-third-ns w-100
    ">
  <div
    onclick={{action goToPlayer player.id}}
    class="
      card
      ba
      bw2
      pa2
      relative
      ma4"
   style="background-image:url({{html-safe player.image}}); background-size: cover;"
  >
  <p style="text-shadow: 0 0 10px black; bottom: 10px;" class="absolute white f2 tc w-100">{{player.name}}</p>
  </div>
</div>
