<div style="
  display: flex;
  flex-flow: column;
  align-items: stretch;
  height: 100vh;
  "
>
  <div style="flex-basis: 85%" class="white">
    {{battle-scene}}
  </div>
  <div
    class="white bg-black-5 clearfix pa4 ba bw3">
    <div class="fl w-third">
      <img src="{{player.image}}">
    </div>
    <div class="fl w-third">
      <h3>{{player.name}}</h3>
      <p>Moves</p>
      <ul>
        {{#each player.moves as |move|}}
          <li>{{move.name}}</li>
        {{/each}}
      </ul>
    </div>
    <div class="fl w-third">
      <h3>Recent Activity</h3>
    </div>
  </div>
</div>
