<div
  class="white tc"
  style="
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  ">
  <h1>
    Dungeons and Wizards
  </h1>
  <p>
  Sidekiq's Journey into the Heart of Darkness
  </p>
  <p>&nbsp;</p>
  {{#link-to "players" class="link ph3 pv2 bw1 bg-gold white ba bw2 dim"}}
    Start the Journey
  {{/link-to}}
</div>
{{outlet}}
